[submodule ".vim/pack/core/start/ale"]
	path = .vim/pack/core/start/ale
	url = git@github.com:w0rp/ale.git
[submodule ".vim/pack/core/start/vim-commentary"]
	path = .vim/pack/core/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/pack/core/start/vim-pencil"]
	path = .vim/pack/core/start/vim-pencil
	url = git@github.com:reedes/vim-pencil.git
[submodule ".vim/pack/core/start/vim-sensible"]
	path = .vim/pack/core/start/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule ".vim/pack/core/start/vim-surround"]
	path = .vim/pack/core/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
